@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {max-width: 1600px;
min-width: 100%;
margin: 0;
padding: 0;}

header {height: 99px;
background-color: #f6f9f9;}

.content {width: 1170px;
margin-left: auto;
margin-right: auto;
}

#logo {display: block;
	padding-top: 31px;
	padding-left: 42px;
}

#section1 {background: url(./img/bg.png) no-repeat center top / cover;
height: 800px;	
}

#strict {
width: 600px;
margin-left: auto;
margin-right: auto;
text-align: center;
padding-top: 0px;
}

#h {margin: 0;
	color: #ffffff;
font-family: Lato;
font-size: 120px;
font-weight: 700;
line-height: 47px;
text-transform: uppercase;
letter-spacing: 3px;
padding-top: 217px;
padding-bottom: 48px;
}

hr {width: 600px;
height: 2px;
background-color: #15a4fa;}

#text {color: #ffffff;
font-family: Lato;
font-size: 20px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0.5px;}

#button {width: 176px;
height: 54px;
border-radius: 2px;
border: 1px solid #15a4fa;
color: #ffffff;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0.45px;
margin-left: auto;
margin-right: auto;
margin-top: 65px;
}

#button:hover {background-color: #15a4fa;
transition: 2s;}

#arrow {display: block;
margin-left: auto;
margin-right: auto;
padding-top: 179px; 
}   

#section2 {height: 340px;
background-color: #f6f9f9;}

h2 {margin: 0;
text-align: center;
color: #2d3950;
font-family: Lato;
font-size: 40px;
font-weight: 400;
letter-spacing: 1px;
padding-top: 71px;}

#text2 {text-align: center;
	color: #999999;
font-family: Lato;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.5px;
padding-top: 10px;}

#section3 {height: 340px;
background-color: #ffffff;
}

#flex0 {display: flex;
align-items: center;
height: 340px;
justify-content: space-around;
}

#flex1 {width: 255px;
height: 210px;
text-align: center;
}

#flex2 {width: 316px;
height: 210px;
text-align: center;
}

#flex3 {width: 316px;
height: 210px;
text-align: center;
}

h3 {margin: 0;
color: #2d3950;
font-family: Lato;
font-size: 22px;
font-weight: 400;
letter-spacing: 0.55px;
padding-top: 25px;
}

.flex-text {color: #999999;
font-family: Lato;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.38px;
}

#section4 {height: 900px;
background-color: #f6f9f9;
}

h4 {margin: 0;
text-align: center;
color: #2d3950;
font-family: Lato;
font-size: 41px;
font-weight: 400;
letter-spacing: 1.02px;
padding-top: 70px;}

#text4 {margin: 0;
text-align: center;
color: #909090;
font-family: Lato;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.38px;
padding-top: 18px;
}

#flex-box0 {display: flex;
height: 550px;
margin-top: 80px;
justify-content: space-around;
align-content: space-around;
flex-wrap: wrap;}

.flex-box {width: 360px;
height: 260px;
}

.flex-box a { display: block; position: relative; }

.flex-box a:after { content: url(./img/button.png); 
position: absolute; 
top: 110px; 
left: 134px; 
opacity: 0; 
transition: 3s;
}

.flex-box a:before {content: ''; 
position: absolute;
background-color: #15a4fa;
opacity: 0;
top: 0;
left: 0; 
right: 0; 
bottom: 0;
transition: 1s;
}

.flex-box a:hover:after {opacity: 1;}
.flex-box a:hover:before {opacity: 0.9;}

#openbox {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  display: none;
  z-index: 9999;
 }

#openbox:target {
display: block;
}

#pop-up {
width: 1140px;
height: 550px;
position: relative;
margin: 5% auto;
background: url(./img/image.png);
border-radius: 15px;
border: 3px solid #999999;
}

#close {float: right;
padding-right: 15px;
margin-top: -20px;
}

#section5 {height: 700px;
background: url(./img/bg4.png) no-repeat center top / cover;
background-color: #2d3950;
}


#section5l {height: 100%;
width: 100%;
background-color: #2d3950;
opacity: 0.9;
}

h5 {color: #ffffff;
font-family: Lato;
font-size: 41px;
font-weight: 400;
letter-spacing: 1.02px;
margin: 0;
text-align: center;
padding-top: 64px;
}

#text5 {color: #999999;
font-family: Lato;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.38px;
margin: 0;
text-align: center;
padding-top: 18px;
}

#name, #email, #textarea {margin: auto;
color: #999999;
font-family: Lato;
font-size: 15px;
font-weight: 400;
letter-spacing: 0.38px;
border-radius: 2px;
background: none;
padding-left: 20px;
border: 1px solid #999999;

display: block;}

#name {
width: 533px;
height: 60px;
margin-top: 52px;
}

#email {margin-top: 22px;
width: 533px;
height: 60px;}

#textarea {margin-top: 22px;
padding-top: 20px;
width: 533px;
height: 140px;}

#flexbox {display: flex;
width: 555px;
height: 45px;
margin: 0 auto;
justify-content: space-between;
align-items: center;
margin-top: 20px;}

#label {color: #ffffff;
font-family: Lato;
font-size: 15px;
font-weight: 400;
letter-spacing: 0.38px;
margin-left: 14px;
}

#submit {padding: 0;
margin:0;
width: 140px;
height: 45px;
border-radius: 2px;
border: 1px solid #15a4fa;
background: none;
color: #ffffff;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0.45px;
transition: 3ms;
}

#submit:hover {background-color: #15a4fa;
transition: 2s;}

footer {height: 90px;
background-color: #f6f9f9;}

#flex-con {display: flex;
margin: auto;
width: 1140px;
height: 90px;
justify-content: space-between;
align-items: center;
}

#copy {color: #999999;
font-family: Lato;
font-size: 15px;
font-weight: 400;
letter-spacing: 0.38px;
}

#social {display: flex;
width: 175px;
height: 40px;
justify-content: space-between;
}

.soc a { display: block; 
position: relative; 
background-color: #15a4fa;
width: 40px;
height: 40px;
border-radius: 2px;
}


#face a:after { content: url(./img/face.png); 
position: absolute; 
top: 12px; 
left: 15px; 
z-index: 2;
}

#twit a:after { content: url(./img/twit.png); 
position: absolute; 
top: 12px; 
left: 13px; 
z-index: 2;
}

#goog a:after { content: url(./img/goog.png); 
position: absolute; 
top: 12px; 
left: 15px; 
z-index: 2;
}

#inst a:after { content: url(./img/inst.png); 
position: absolute; 
top: 12px; 
left: 15px; 
z-index: 2;
}

#face a:before {content: ''; 
position: absolute;
background-color: #3b5998;
opacity: 0;
top: 0;
left: 0; 
right: 0; 
bottom: 0;
transition: 1s;
z-index: 1;
}

#twit a:before {content: ''; 
position: absolute;
background-color: #55acee;
opacity: 0;
top: 0;
left: 0; 
right: 0; 
bottom: 0;
transition: 1s;
z-index: 1;
}

#goog a:before {content: ''; 
position: absolute;
background-color: #dd4b39;
opacity: 0;
top: 0;
left: 0; 
right: 0; 
bottom: 0;
transition: 1s;
z-index: 1;
}

#inst a:before {content: ''; 
position: absolute;
background-color: #0976b4;
opacity: 0;
top: 0;
left: 0; 
right: 0; 
bottom: 0;
transition: 1s;
z-index: 1;
}

#face a:hover:before {opacity: 1;}
#twit a:hover:before {opacity: 1;}
#goog a:hover:before {opacity: 1;}
#inst a:hover:before {opacity: 1;}





